header.header
  .container
    .row.align-items-center
      .col-3
        .inner-logo
          a(href="/")
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOB9GuEV4-U8rf3gW1UyYYPg3fuC6dacCUvQ&s", alt="Logo")

      .col-9
        .inner-menu
          ul
            if(user)
              li #{user.fullName}
            li
              a(href="/") Trang chủ
            li
              a(href="/topics") Chủ đề
            if(!user)
              li
                a(href="/user/login") Đăng nhập
            else 
              li 
                a(href='/user/logout') Đăng xuất